[Main]
dd_url: {{ sansible_datadog_dd_url }}
api_key: {{ sansible_datadog_api_key }}
use_mount: no
tags: {{ (sansible_datadog_default_tags | list + sansible_datadog_tags | list) | join(',') }}
hostname: {{ sansible_datadog_hostname | default(ansible_hostname) }}
collect_ec2_tags: {{ sansible_datadog_collect_ec2_tags | default('no') }}
collect_instance_metadata: {{ sansible_datadog_collect_instance_metadata | default('no') }}
